* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: #919191;
    line-height: 1.5em;
}

strong {
    color: floralwhite;
}

#tekstiheader {
    font-size: 2em;
}

.tekstialue {
    margin-top: 5%;
    position: relative;
    left: 30%;
    width: 60%;
}

.flexluetteloteksti {
    display: flex;
    gap: 5%; 
}

.sivupalkki {
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 20px;
    height: 100%;
    width: 20%;
    background-color: #212121;
    text-align: center;
}

.sivuteksti {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    font-size: 14px;
    text-align: left;
    line-height: 1.8em;
}

#sivuheader {
    margin-top: 10%;
}

#mii {
    border-radius: 50%;
}

hr {
    width: 70%;
    margin-left: 0;
}

.sivupalkki-hr {
    margin-left: auto;
    border: none;
    height: 1px;
    background-color: #333;
}   

.h {
    color: rgb(94, 91, 97);
}

h3 {
    font-size: 18px;
}